#container {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
    border: 4px solid black;
}

.square {
    width: 100%;
    height: 100%;
}

.light {
    background-color: white; 
}

.dark {
    background-color: black;
}
